<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xml:lang="it" lang="it"
      xmlns="http://www.w3.org/1999/xhtml" 
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:h="http://java.sun.com/jsf/html">

    <h:head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />        
        <meta name="robots" content="noindex"/>
        <link rel="shortcut icon" href="#{request.contextPath}/icons/icon.png"/>
        <title>IKEA - <ui:insert name="title"></ui:insert></title>
        <link rel="stylesheet" href="#{request.contextPath}/css/stile.css" type="text/css" />
        <link rel="stylesheet" href="#{request.contextPath}/css/personal.css" type="text/css" />
    </h:head>

    <h:body>

        <div class="generale">
            <div class="barramenu">
                <h:form>
                    <p:menubar>
                        <p:submenu label="File" icon="ui-icon-wrench" 
                                   rendered="#{not modello.utente.ruoloOperatore}" >
                            <p:menuitem value="Azione1" outcome="/admin/schermoAmministratore"/>
                            <p:menuitem value="Azione2" outcome="/admin/schermoAmministratore"/>
                            <p:menuitem value="Azione3" outcome="/admin/schermoAmministratore"/>

                        </p:submenu>
                        <p:menuitem value="Esci" action="#{controlloLogin.esci}" icon="ui-icon-close" />
                    </p:menubar>
                </h:form>
            </div>
        </div>
        <div class="content">
            <ui:insert name="body"></ui:insert>            
        </div>
        <div style="text-align: center;">
            <p>Unibas - CdL Ingegneria Informatica - Progetto sviluppato con JSF 2.3 + PrimeFaces 7.0 + Hibernate 4.3.1</p>
            <p>Autore <a href="https://palazzovincenzo.gitlab.io/plain-html/">Vincenzo Palazzo</a></p>
            <p>Codice sorgente disponibile <a href="https://bitbucket.org/clientserverproject/ikea-composit/src">QUI</a></p>
            <p>Questo codice &egrave; sotto licenza
                <a href="https://creativecommons.org/licenses/by-sa/1.0/legalcode">Creative Commons Attribution-ShareAlike 1.0</a>
            </p>
            <img style="width: 25em; height: 5em;" src="#{request.contextPath}/icons/primefaces-logo.png"></img>
        </div>
    </h:body>
</html>