@import url(http://fonts.googleapis.com/css?family=Open+Sans) !important;
.btn { display: inline-block !important; *display: inline !important; *zoom: 1 !important; padding: 4px 10px 4px !important; margin-bottom: 0 !important; font-size: 13px !important; line-height: 18px !important; color: #333333 !important; text-align: center !important;text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75) !important; vertical-align: middle !important; background-color: #f5f5f5 !important; background-image: -moz-linear-gradient(top, #ffffff, #e6e6e6) !important; background-image: -ms-linear-gradient(top, #ffffff, #e6e6e6) !important; background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e6e6e6)) !important; background-image: -webkit-linear-gradient(top, #ffffff, #e6e6e6) !important; background-image: -o-linear-gradient(top, #ffffff, #e6e6e6) !important; background-image: linear-gradient(top, #ffffff, #e6e6e6) !important; background-repeat: repeat-x !important; filter: progid:dximagetransform.microsoft.gradient(startColorstr=#ffffff, endColorstr=#e6e6e6, GradientType=0) !important; border-color: #e6e6e6 #e6e6e6 #e6e6e6 !important; border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25) !important; border: 1px solid #e6e6e6 !important; -webkit-border-radius: 4px !important; -moz-border-radius: 4px !important; border-radius: 4px !important; -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05) !important; -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05) !important; box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05) !important; cursor: pointer !important; *margin-left: .3em !important; }
.btn:hover, .btn:active, .btn.active, .btn.disabled, .btn[disabled] { background-color: #e6e6e6 !important; }
.btn-large { padding: 9px 14px !important; font-size: 15px !important; line-height: normal !important; -webkit-border-radius: 5px !important; -moz-border-radius: 5px !important; border-radius: 5px !important; }
.btn:hover { color: #333333 !important; text-decoration: none !important; background-color: #e6e6e6 !important; background-position: 0 -15px !important; -webkit-transition: background-position 0.1s linear !important; -moz-transition: background-position 0.1s linear !important; -ms-transition: background-position 0.1s linear !important; -o-transition: background-position 0.1s linear !important; transition: background-position 0.1s linear !important; }
.btn-primary, .btn-primary:hover { text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25) !important; color: #ffffff !important; }
.btn-primary.active { color: rgba(255, 255, 255, 0.75) !important; }
.btn-primary { background-color: #4a77d4 !important; background-image: -moz-linear-gradient(top, #6eb6de, #4a77d4) !important; background-image: -ms-linear-gradient(top, #6eb6de, #4a77d4) !important; background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#6eb6de), to(#4a77d4)) !important; background-image: -webkit-linear-gradient(top, #6eb6de, #4a77d4) !important; background-image: -o-linear-gradient(top, #6eb6de, #4a77d4) !important; background-image: linear-gradient(top, #6eb6de, #4a77d4) !important; background-repeat: repeat-x !important; filter: progid:dximagetransform.microsoft.gradient(startColorstr=#6eb6de, endColorstr=#4a77d4, GradientType=0) !important;  border: 1px solid #3762bc !important; text-shadow: 1px 1px 1px rgba(0,0,0,0.4) !important; box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.5) !important; }
.btn-primary:hover, .btn-primary:active, .btn-primary.active, .btn-primary.disabled, .btn-primary[disabled] { filter: none !important; background-color: #4a77d4 !important; }
.btn-block { width: 100% !important; display:block !important; }

* { -webkit-box-sizing:border-box !important; -moz-box-sizing:border-box !important; -ms-box-sizing:border-box !important; -o-box-sizing:border-box !important; box-sizing:border-box !important; }

.login { 
	position: absolute !important;
	top: 50% !important;
	left: 50% !important;
	margin: -150px 0 0 -150px !important;
	width:300px !important;
	height:300px !important;
        text-align: center;
}
.login h1 { color: #fff !important; text-shadow: 0 0 10px rgba(0,0,0,0.3) !important; letter-spacing:1px !important; text-align:center !important; }

.login h6 { color: #fff !important; text-shadow: 0 0 10px rgba(0,0,0,0.3) !important; letter-spacing:1px !important; text-align:center !important; font-weight:normal !important; }


input { 
	width: 100% !important; 
	margin-bottom: 10px !important; 
	background: rgba(0,0,0,0.3) !important;
	border: none !important;
	outline: none !important;
	padding: 10px !important;
	font-size: 13px !important;
	color: #fff !important;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.3) !important;
	border: 1px solid rgba(0,0,0,0.3) !important;
	border-radius: 4px !important;
	box-shadow: inset 0 -5px 45px rgba(100,100,100,0.2), 0 1px 1px rgba(255,255,255,0.2) !important;
	-webkit-transition: box-shadow .5s ease !important;
	-moz-transition: box-shadow .5s ease !important;
	-o-transition: box-shadow .5s ease !important;
	-ms-transition: box-shadow .5s ease !important;
	transition: box-shadow .5s ease !important;
}

input:focus { box-shadow: inset 0 -5px 45px rgba(100,100,100,0.4), 0 1px 1px rgba(255,255,255,0.2) !important; }

.ui-widget {
    font-size: 0.9em !important;    
}