/*
This code is under license Creative Commons Attribution-ShareAlike 1.0
<a href="https://creativecommons.org/licenses/by-sa/1.0/legalcode"></a>
*/
/* 
    Created on : Jun 28, 2019, 8:45:48 PM
    Author     : https://github.com/vincenzopalazzo 
*/

.span-chains{
    display: inline-flex;
}

.table-data{
    /*Do nothing*/
}

.confirm-button{
    margin: 0.5em;
}

.confirm-button-container{
    margin-top: 2em;

}

.container-panel{
    width: 100%;
}