<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:h="http://java.sun.com/jsf/html"
                template="/templates/template.xhtml">

    <ui:define name="title">IKEA - Arrivederci</ui:define>

    <ui:define name="body">
        <div id="content">
            <h2>Errore</h2>
            <h1>La pagina richiesta non è accessibile</h1>

            <p>${pageScope.exception}</p>
            <p>
                <a href="#{request.contextPath}/">Torna alla pagina del login</a>
            </p>
        </div>
    </ui:define>
</ui:composition>