<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:p="http://primefaces.org/ui"
                template="/templates/template.xhtml">

    <ui:define name="title">Amministratore</ui:define>

    <ui:define name="body">
        <f:metadata>
            <f:event type="preRenderView" listener="#{actionFourniture.initBeans}"/>
        </f:metadata>         
        <div id="content">
            <f:view>
                <p:breadCrumb>
                    <p:menuitem value="home" outcome="/admin/schermoAmministratore" rendered="#{modello.utente.ruoloAdmin}"/>  
                </p:breadCrumb>

                <p:messages id="messages" showDetail="true" closable="true" />  


                <div class="ui-g">

                    <div class="ui-g-2">
                        <p:button value="Crea mobile" outcome="/admin/viewInsertFurniture"/>
                    </div>
                    <div class="ui-g-8">

                        <p:dataTable value="#{viewFurniture.elements}" var="element">

                            <p:column headerText="Nome Mobile">
                                <p:outputLabel value="#{element.name}"/>
                            </p:column>

                            <p:column headerText="Costo Mobile">

                                <p:outputLabel value="#{element.price}"/>

                            </p:column>

                            <p:column>

                                <p:commandButton value="Visualizza" 
                                                 actionListener="#{actionFourniture.viewAllElementForFurniture(element)}"
                                                 oncomplete="PF('details-furniture').show()" update=":details-dialog"/>

                            </p:column>

                        </p:dataTable>

                        <p:dialog  header="Riepilogo elementi contenuti" widgetVar="details-furniture">
                            <p:panel id="details-dialog">
                                <p:panelGrid columns="1">

                                    <p:dataTable value="#{viewFurniture.elemement.elements}" var="elementSingle">
                                        <p:column headerText="Nome Mobile">
                                            <p:outputLabel value="#{elementSingle.nome}"/>
                                        </p:column>

                                        <p:column headerText="Quantita contenute">
                                            <p:outputLabel value="#{elementSingle.quantity}"/>
                                        </p:column>

                                        <p:column headerText="Prezzo singolo">
                                            <p:outputLabel value="#{elementSingle.costo}"/>
                                        </p:column>
                                    </p:dataTable>
                                    <p:panel visible="#{viewFurniture.isComplex()}">
                                        <p:dataTable value="#{viewFurniture.elementInsideChoise}" var="complex">
                                            <p:column headerText="Nome Mobile">
                                                <p:outputLabel value="#{complex.name}"/>
                                            </p:column>

                                            <p:column headerText="Quantita contenute">
                                                <p:outputLabel value="#{complex.quantity}"/>
                                            </p:column>

                                            <p:column headerText="Prezzo singolo">
                                                <p:outputLabel value="#{complex.price}"/>
                                            </p:column>
                                        </p:dataTable>
                                    </p:panel>

                                </p:panelGrid>
                            </p:panel>
                        </p:dialog>

                    </div>
                    <div class="ui-g-2"></div>

                </div>

            </f:view>
        </div>
    </ui:define>
</ui:composition>