<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:p="http://primefaces.org/ui"
                template="/templates/template.xhtml">

    <ui:define name="title">Amministratore</ui:define>

    <ui:define name="body">
        <f:metadata>
            <f:event type="preRenderView" listener="#{actionsInsertElements.initBeans}"/>
        </f:metadata>         
        <div id="content">
            <f:view>
                <p:breadCrumb>
                    <p:menuitem value="home" outcome="/admin/schermoAmministratore" rendered="#{modello.utente.ruoloAdmin}"/>  
                </p:breadCrumb>

                <p:messages id="messages" showDetail="true" autoUpdate="true" closable="true" />  
                <p:growl id="growl" showDetail="true" showSummary="true"/>

                <div class="ui-g">

                    <div class="ui-g-4">

                        <p:panel id="panel-furniture" class="panel-furniture" styleClass="container-panel">

                            <h:form>
                                <p:panelGrid columns="1">
                                    <p:panel header="Mobili">

                                        <p:dataTable styleClass="table-data" value="#{viewNewFurniture.furnitures}" var="furniture">

                                            <p:column headerText="Nome Elemento">
                                                <p:outputLabel value="#{furniture.name}"/>
                                            </p:column>

                                            <p:column headerText="Quantita' Elemento">
                                                <p:outputLabel value="#{furniture.quantity}"/>
                                            </p:column>

                                        </p:dataTable>
                                    </p:panel>
                                </p:panelGrid>
                            </h:form>
                        </p:panel>

                    </div>
                    <div class="ui-g-4">
                        <p:panel id="panel-form" styleClass="container-panel" header="Informazioni Mobile">
                            <div class="value-new">

                                <h:form>

                                    <span class="container-information">

                                        <p:panelGrid columns="3">
                                            <p:outputLabel for="in-name" value="Nome Mobile"/>
                                            <p:inputText id="in-name" value="#{viewNewFurniture.name}" required="true" />
                                            <p:message id="in-name-err" for="in-name" showDetail="true"/>


                                            <p:outputLabel for="in-code" value="Codice Mobile"/>
                                            <p:inputText id="in-code" value="#{viewNewFurniture.code}" required="true"/>
                                            <p:message id="in-code-err" for="in-code" showDetail="true"/>

                                        </p:panelGrid>

                                        <div class="confirm-button-container">
                                            <p:commandButton styleClass="confirm-button" value="Salve" 
                                                             update=":growl, :panel-form"
                                                             actionListener="#{actionsInsertElements.createNewFurniture}"/>
                                            <p:commandButton styleClass="confirm-button" value="Inserisci nuovo mobile" onclick="PF('furniture-dialog').show()"/>
                                            <p:commandButton styleClass="confirm-button" value="Inserisci nuovo elemento singolo" onclick="PF('element-dialog').show()"/>

                                        </div>
                                    </span>
                                </h:form>
                            </div>
                        </p:panel>

                        <p:dialog header="Inserisci elemento singolo" widgetVar="element-dialog">
                            <h:form>
                                <p:panelGrid columns="3">

                                    <p:outputLabel for="in-name-single" value="Nome Elemento"/>
                                    <p:inputText id="in-name-single" value="#{viewNewFurniture.nameElement}"/>
                                    <p:message for="in-name-single" showDetail="true"/>

                                    <p:outputLabel for="in-code-single" value="Codice Elemento"/>
                                    <p:inputText id="in-code-single" value="#{viewNewFurniture.codeElement}"/>
                                    <p:message for="in-code-single" showDetail="true"/>

                                    <p:outputLabel for="in-price-single" value="Prezzo Elemento"/>
                                    <p:inputNumber id="in-price-single" value="#{viewNewFurniture.priceElement}"/>
                                    <p:message for="in-price-single" showDetail="true"/>

                                    <p:outputLabel for="in-quantity-single" value="Quantita Elemento"/>
                                    <p:inputNumber id="in-quantity-single" value="#{viewNewFurniture.quantityElement}">
                                        <f:convertNumber integerOnly="true"/>
                                    </p:inputNumber>
                                    <p:message for="in-quantity-single" showDetail="true"/>

                                </p:panelGrid>

                                <p:commandButton value="Inserisci" actionListener="#{actionsInsertElements.insertNewElementSingle()}" 
                                                 update="@this, :panel-element-basic"
                                                 oncomplete="PF('element-dialog').hide()"/>
                            </h:form>
                        </p:dialog>

                        <p:dialog header="Inserisci Mobile composito" widgetVar="furniture-dialog">
                            <h:form>

                                <p:panelGrid columns="3">

                                    <p:outputLabel for="in-name-furniture" value="Nome Mobile"/>
                                    <p:inputText id="in-name-furniture" value="#{viewNewFurniture.nameFurniture}" required="true"/>
                                    <p:message for="in-name-furniture" showSummary="true"/>

                                    <p:outputLabel for="in-code-furniture" value="Codice Mobile"/>
                                    <p:inputText id="in-code-furniture" value="#{viewNewFurniture.codeFurniture}" required="true"/>
                                    <p:message for="in-code-furniture" showSummary="true"/>

                                    <p:outputLabel for="in-price-furniture" value="Prezzo Mobile"/>
                                    <p:inputNumber id="in-price-furniture" value="#{viewNewFurniture.priceFurniture}" required="true"/>
                                    <p:message for="in-price-furniture" showSummary="true"/>

                                    <p:outputLabel for="in-quantity-furniture" value="Quantita Mobile"/>
                                    <p:inputNumber id="in-quantity-furniture" value="#{viewNewFurniture.quantityFurniture}" required="true">
                                        <f:convertNumber integerOnly="true"/>
                                    </p:inputNumber>
                                    <p:message for="in-quantity-furniture" showSummary="true"/>

                                </p:panelGrid>
                                
                                <p:commandButton value="Inserisci" actionListener="#{actionsInsertElements.insertNewFurniture()}" 
                                                 update="@this, :panel-furniture"
                                                 oncomplete="PF('furniture-dialog').hide()"/>

                            </h:form>
                        </p:dialog>

                    </div>
                    <div class="ui-g-4">

                        <p:panel id="panel-element-basic" class="panel-element-basic" styleClass="container-panel">
                            <h:form>
                                <p:panelGrid columns="1">
                                    <p:panel header="Elementi Singoli">

                                        <p:dataTable styleClass="table-data" value="#{viewNewFurniture.elmentsSingle}" var="element">

                                            <p:column headerText="Nome Elemento">
                                                <p:outputLabel value="#{element.nome}"/>
                                            </p:column>

                                            <p:column headerText="Quantita' Elemento">
                                                <p:outputLabel value="#{element.quantity}"/>
                                            </p:column>

                                        </p:dataTable>
                                    </p:panel>
                                </p:panelGrid>
                            </h:form>
                        </p:panel>

                    </div>

                </div>

            </f:view>
        </div>
    </ui:define>
</ui:composition>